<!-- Uses a transparent header that draws on top of the layout's background -->

<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Sommer Shurbaji</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a scrollTo class="mdl-navigation__link" href="#about">About</a>
        <a scrollTo class="mdl-navigation__link" href="#experience">Experience</a>
        <a scrollTo class="mdl-navigation__link" href="#projects">Projects</a>
        <!--<a scrollTo class="mdl-navigation__link" href="#extracurriculars">Extracurriculars</a>-->
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Sommer Shurbaji</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#about">About</a>
      <a class="mdl-navigation__link" href="#experience">Experience</a>
      <a class="mdl-navigation__link" href="#projects">Projects</a>
      <!--<a class="mdl-navigation__link" href="#extracurriculars">Extracurriculars</a>-->
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-layout">
    <div class="landing" id="landing">
      <div class="mdl-grid" style="margin-top: 0;">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
          <h1 class="main-title"> {{typewriter_display }}<span class="blinking-cursor" [ngClass]="{'blinking-cursor-animate': animation_complete}"></span> </h1>
        </div>
      </div>
      <div class="mdl-grid" style="margin-top: 5%;">
        <div class="mdl-cell mdl-cell--2-col">
        </div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
          <a href="mailto:sommershurbaji23@gmail.com"><fa [name]="'envelope'" class="contact-icons" [size]=4></fa></a>
        </div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
          <a href="https://ca.linkedin.com/in/sommershurbaji" target="_blank"><fa [name]="'linkedin-square'" class="contact-icons" [size]=4></fa></a>
        </div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
          <a href="https://github.com/sommercodes" target="_blank"><fa [name]="'github'" class="contact-icons" [size]=4></fa></a>
        </div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
          <a href="https://medium.com/@sommershurbaji" target="_blank"><fa [name]="'medium'" class="contact-icons" [size]=4></fa></a>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
        </div>
      </div>
      <div class="mdl-grid" style="margin-top: 10%;">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
          <a scrollTo href="#about" role="button" style="color: #e6e6e8; background-color: #c43235;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            About Me!
          </a>
        </div>
      </div>
      <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
      </particles>
    </div>
    </div>

    <div class="mdl-grid about" id="about">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
        <h2 class="dark"> <strong>About Me</strong> </h2>
        <div class="mdl-layout">
          <div class="mdl-grid" style="width: 50%">

            <p > I'm currently a computer science student at Queen's University. I am finishing up 
              a 16 month software development internship with IBM Security, where I've had the opportunity
              to work on enterprise web applications. These are some of the awesome technologies that I am 
              currently working with!
            </p>
          </div>
          <h4 class="dark">Technologies I'm Currently Working With </h4>
          <div class="mdl-grid" style="width: 80%">
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/images/angular.png" class="center-image" alt="angular" style="width:50px;height:50px;">
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/images/node.png"  class="center-image" alt="node.js" style="width:140px;height:50px;">
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/images/docker.png"  class="center-image" alt="docker" style="width:75px;height:75px;">
            </div>
          </div>
          <div class="mdl-grid" style="width: 80%">
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/images/bluemix.png"  class="center-image" alt="bluemix" style="width:190px;height:100px;">
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/images/cloudant.png"  class="center-image" alt="cloudant" style="width:165px;height:40px;">
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/images/couchdb.png"  class="center-image"  alt="couchdb" style="width:75px;height:75px;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-grid experience" id="experience">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
        <h2 class="dark"> <strong>Experience</strong> </h2>
        <div class="mdl-layout">
          <div class="mdl-grid" style="width: 80%">
            <div class="mdl-cell mdl-cell--6-col" style="padding-right: 50px;">
              <h4 class="dark subtitle"> Software Development Internship - IBM </h4>
              <div class="center-icon" style="padding-top: 30px;"><fa [name]="'code'" class="center-image" [size]=4></fa></div>
              <p style="padding-top: 30px;">I am currently finishing up a 16 month software development internship with IBM Security.
                  Throughout my internship, I have had the opportunity to work on web applications 
                  using modern web development technologies such as Angular 4, Node.js, and Docker. I worked on
                  front end development, where I implemented views and created reusable common components including
                  a trends graph for data visualizations. I also had the opportunity to work on user authentication
                  using Passportjs and JWT's,
                  as well implementing RESTful
                  API's within our back end microservices which were consumed by our front end. 
              </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h4 class="dark subtitle"> Teaching Assistant - Queen's University </h4>
              <div class="center-icon" style="padding-top: 30px;"><fa [name]="'graduation-cap'" class="center-image" [size]=4></fa></div>
              <p style="padding-top: 30px;">
                I was a teaching assistant for two courses: CISC 121 - Introduction to Computing Science, and
                CISC 282 - Intro to Web Development. As a teaching assistant, I was responsible for grading
                assignments and exams for over one hundred students. I was also responsible for organizing weekly 
                office hours to assist students with their assignments and exam preparations. My experience 
                as a teaching assistant has really helped me improve my communication skills, since I 
                would often be required to explain new concepts to students with various learning styles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-grid projects" id="projects">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
        <h2 class="dark"> <strong>Projects</strong> </h2>
          <div class="mdl-grid" style="width: 80%">
            <div class="mdl-cell mdl-cell--6-col" style="padding-right: 50px;">
              <h4 class="dark subtitle"> Chat Server </h4>
              <div class="center-icon" style="padding-top: 30px;"><fa [name]="'comments'" class="center-image" [size]=4></fa></div>
              <p style="padding-top: 30px;">                  I have always been interested in real time web applications and web sockets, so as a side 
                  project, I decided to try and implement a real time chat server. I am using Angular 4 for the 
                  front end, and Node.js for the backend REST API's. I am using Socket.io to implement
                  the real time socket communication between the client and server, so that a user does
                  not have to refresh their page every time a user connects or a message is sent. I am still actively
                  improving this project by adding error handling for duplicate user creations and adding options to delete
                  and edit a profile.
              </p>
              <a href="http://instant-chat-ui.herokuapp.com/" target="_blank" role="button" style="color: #e6e6e8; background-color: #c43235;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Go!
              </a> 

            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <h4 class="dark subtitle"> Game Development Project </h4>
              <div class="center-icon" style="padding-top: 30px;"><fa [name]="'gamepad'" class="center-image" [size]=4></fa></div>
              <p style="padding-top: 30px;">
                  Jungle Escape is a game that I built in a group of 3 for a game development course last year.
                  We used Unity3D and C# to develop the game. I used WebGL to build the game for the web and I've
                  deployed it using a Node.js server. Check out the game at the link below!             </p>
              <a href="http://jungle-escape.herokuapp.com/" target="_blank" role="button" style="color: #e6e6e8; background-color: #c43235;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Go!
              </a> 
            </div>
          </div>
      </div>
    </div>

  </main>
</div>