@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e6e6e8 }
}

.blinking-cursor {
    border-right: 3px solid #e6e6e8;
    /*animation: blink-caret 1.5s step-end infinite;*/
}

.blinking-cursor-animate {
    animation: blink-caret 1.5s step-end infinite;
}

h1 {
    padding-top: 5%;
    text-align: center;
    color:#e6e6e8;
    font-family: 'Roboto Mono', monospace;
 }

.main-description {
    text-align: center;
    color:#e6e6e8;
    font-family: 'Roboto Mono', monospace;
}

.mdl-layout__drawer-button {
    color:#e6e6e8;
}

.mdl-navigation .mdl-navigation__link {
    color: #e6e6e8;
}

.mdl-layout-title {
    color: #e6e6e8;
    font-family: 'Roboto Mono', monospace;
}

.demo-layout-transparent {
  background-color: #06000a;
  font-family: 'Roboto Mono', monospace;
}

.mdl-layout__content {
    height: 100%;
}

.landing {
    height: 100%;
    background-color:transparent;
}

.experience {
    height: 100%; 
    background-color:#e6e6e8;
}

.projects {
    height: 100%; 
    background-color: transparent;
}

.contact {
    height: 100%; 
    background-color:#e6e6e8;
}




