<!-- Uses a transparent header that draws on top of the layout's background -->

<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Sommer Shurbaji</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a scrollTo class="mdl-navigation__link" href="#test">About</a>
        <a class="mdl-navigation__link" href="">Experience</a>
        <a class="mdl-navigation__link" href="">Projects</a>
        <a class="mdl-navigation__link" href="">Extracurriculars</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Sommer Shurbaji</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">About</a>
      <a class="mdl-navigation__link" href="">Experience</a>
      <a class="mdl-navigation__link" href="">Projects</a>
      <a class="mdl-navigation__link" href="">Extracurriculars</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-layout">
    <div class="landing" id="landing">
      <div class="mdl-grid" style="margin-top: 0;">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
          <h1 class="main-title"> {{typewriter_display }}<span class="blinking-cursor" [ngClass]="{'blinking-cursor-animate': animation_complete}"></span> </h1>
        </div>
      </div>
      <div class="mdl-grid" style="margin-top: 5%;">
        <div class="mdl-cell mdl-cell--3-col">
        </div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
          <a href="https://ca.linkedin.com/in/sommershurbaji" target="_blank"><fa [name]="'linkedin-square'" class="contact-icons" [size]=3></fa></a>
        </div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
          <a href="https://github.com/sommercodes" target="_blank"><fa [name]="'github'" class="contact-icons" [size]=3></fa></a>
        </div>
        <div class="mdl-cell mdl-cell--2-col" style="text-align: center;">
          <a href="https://medium.com/@sommershurbaji" target="_blank"><fa [name]="'medium'" class="contact-icons" [size]=3></fa></a>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
        </div>
      </div>
      <div class="mdl-grid" style="margin-top: 10%;">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
          <a scrollTo href="#test" role="button" style="color: #e6e6e8; background-color: #c43235;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            About Me!
          </a>
        </div>
      </div>
      <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
      </particles>
    </div>
    </div>

    <div class="mdl-grid experience" id="test">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
        <h2 class="dark"> Hello World </h2>
      </div>
    </div>

  </main>
</div>