@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e6e6e8 }
}

.blinking-cursor {
    border-right: 3px solid #e6e6e8;
    /*animation: blink-caret 1.5s step-end infinite;*/
}

.blinking-cursor-animate {
    animation: blink-caret 1.5s step-end infinite;
}

h1.main-title {
    padding-top: 5%;
    text-align: center;
    color:#e6e6e8;
    font-family: 'Roboto Mono', monospace;
 }

h2.light {
    /*font-family: 'Roboto Mono', monospace;*/
    color: #e6e6e8;
    text-align: center;

 }

 h2.dark {
    padding-top: 30px;
    /*font-family: 'Roboto Mono', monospace;*/
    text-align: center;

 }

.mdl-layout__drawer-button {
    color:#e6e6e8;
}

.mdl-navigation .mdl-navigation__link {
    color: #e6e6e8;
}

.mdl-layout-title {
    color: #e6e6e8;
    /*font-family: 'Roboto Mono', monospace;*/
}

.demo-layout-transparent {
  background-color: #06000a;
  /*font-family: 'Roboto Mono', monospace;*/
}

.mdl-layout__content {
    height: 100%;
}

.landing {
    height: 100%;
    background-color:transparent;
}

.experience { 
    background-color:#e6e6e8;
}

.extracurriculars { 
    background-color:#e6e6e8;

}

.projects {
    background-color: transparent;
}

.about {
    background-color: transparent;
}

.contact-icons:hover {
    color: #c43235;
}

.contact-icons {
    color:#e6e6e8;
}


.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

.mdl-card__media > img {
  max-width: 50%;
      display: block;
    margin-left: auto;
    margin-right: auto
}

.mdl-card__media{
  background-color: transparent;
}

.mdl-card__title-text {
    padding-top: 0px;
}

p {
    color: #06000a;
}

