@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e6e6e8 }
}

.blinking-cursor {
    border-right: 3px solid #e6e6e8;
    /*animation: blink-caret 1.5s step-end infinite;*/
}

.blinking-cursor-animate {
    animation: blink-caret 1.5s step-end infinite;
}

h1 {
    padding-top: 5%;
    text-align: center;
    color:#e6e6e8;
    font-family: 'Roboto Mono', monospace;
 }

 h4 {
    font-family: 'Roboto Mono', monospace;
 }

h2.light {
    font-family: 'Roboto Mono', monospace;
    color: #e6e6e8;
    text-align: center;

 }

 h2.dark {
    padding-top: 30px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;

 }

.main-description {
    text-align: center;
    color:#e6e6e8;
    font-family: 'Roboto Mono', monospace;
}

.mdl-layout__drawer-button {
    color:#e6e6e8;
}

.mdl-navigation .mdl-navigation__link {
    color: #e6e6e8;
}

.mdl-layout-title {
    color: #e6e6e8;
    font-family: 'Roboto Mono', monospace;
}

.demo-layout-transparent {
  background-color: #06000a;
  font-family: 'Roboto Mono', monospace;
}

.mdl-layout__content {
    height: 100%;
}

.landing {
    height: 100%;
    background-color:transparent;
}

.experience { 
    background-color:#e6e6e8;
}

.extracurriculars { 
    background-color:#e6e6e8;

}

.projects {
    background-color: transparent;
}

.contact {
    background-color: transparent;
}

.info-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.project-card {
    background-color:#e6e6e8;
    width: 100%;
}

.description {
    padding: 40px;
}

.card-description {
    padding-top: 30px;
}

.contact-link {
    padding-left: 40px;
    color: #06000a;
}

.arrow-down {
    padding-top: 40px;
    color: #e6e6e8;
    text-align: center;
}



