
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Sommer Shurbaji</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Home</a>
        <a class="mdl-navigation__link" href="">Experience</a>
        <a class="mdl-navigation__link" href="">Projects</a>
        <a class="mdl-navigation__link" href="">Blog</a>
        <a class="mdl-navigation__link" href="">Contact</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Sommer Shurbaji</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Home</a>
      <a class="mdl-navigation__link" href="">Experience</a>
      <a class="mdl-navigation__link" href="">Projects</a>
      <a class="mdl-navigation__link" href="">Blog</a>
      <a class="mdl-navigation__link" href="">Contact</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="landing">
      <h1 class="main-title"> &lt;Hello World&gt; </h1>
      <p class="main-description"> Hi, my name is Sommer Shurbaji </p>
      <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
      </particles>
    </div>
    <div class="experience">

    </div>

    <div class="projects">
      <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
      </particles>

    </div>

    <div class="contact">

    </div>

  </main>
</div>

