@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.main-title {
    padding-top: 5%;
    text-align: center;
    color:#e6e6e8;
    font-family: 'Roboto Mono', monospace;
}

.main-description {
    text-align: center;
    color:#e6e6e8;
    font-family: 'Roboto Mono', monospace;
}

.mdl-layout__drawer-button {
    color:#e6e6e8;
}

.mdl-navigation .mdl-navigation__link {
    color: #e6e6e8;
}

.mdl-layout-title {
    color: #e6e6e8;
    font-family: 'Roboto Mono', monospace;
}

.demo-layout-transparent {
  background-color: #06000a;
  font-family: 'Roboto Mono', monospace;
}

.mdl-layout__content {
    height: 100%;
}

.landing {
    height: 100%;
    background-color:transparent;
}

.experience {
    height: 100%; 
    background-color:#e6e6e8;
}

.projects {
    height: 100%; 
    background-color: transparent;
}

.contact {
    height: 100%; 
    background-color:#e6e6e8;
}




