
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Sommer Shurbaji</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">About</a>
        <a class="mdl-navigation__link" href="">Experience</a>
        <a class="mdl-navigation__link" href="">Blog</a>
        <a class="mdl-navigation__link" href="">Contact</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Sommer Shurbaji</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">About</a>
      <a class="mdl-navigation__link" href="">Experience</a>
      <a class="mdl-navigation__link" href="">Blog</a>
      <a class="mdl-navigation__link" href="">Contact</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="landing">


    </div>
    <div class="about">

    </div>

  </main>
</div>

